In [6]:
# asignacion multiple
a , b , c = "Hola",18,True
print(a,b,c) # Hola 18 True
# otro ejemplo
mi_tupla = ('hola mundo', 2014) 
texto, anio = mi_tupla 
print(texto,anio)

Hola 18 True
hola mundo 2014

In [ ]:
# nota en python no existe el switch osea el segun

In [5]:
print(r'C:\nombres\clases') # agregamos r para que no se \n salte de linea

C:\nombres\clases

In [6]:
print("""De esta manera 
escribimos en mas de una linea
recordar que se tiene que respetar la \t tabulacion""")

De esta manera
escribimos en mas de una linea
recordar que se tiene que respetar la 	 tabulacion

In [1]:
# de una cadena podemos saber los indeces con []
# ejemplo
palabra = "Miguel Ivan Sanchez Sanchez"
men = ""
for i in range(len(palabra)):
    men+= palabra[len(palabra)-1-i]
    
print(men)

zehcnaS zehcnaS navI leugiM

In [10]:
# tambien se puede poner por parametros
palabra[-7:27]

'Sanchez'